@import '../../styles/scss/default/variables';

.header {
  position: absolute;
  z-index: 3;
  height: 34px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  background-color: var(--header-dafault-main-color);

  padding: 0 16px;

  font-family: AvenirNext, sans-serif;

  &.invert {
    background-color: var(--header-invert-main-color);
  }
}

.headerLeft {
  position: absolute;
  top: 36px;
  left: 36px;
  height: 34px;

  z-index: 6;

  height: 34px;

  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;

  .logo {
    display: none;
  }

  @media #{$xsm-layout} {
    .logo {
      display: block;
    }
    .title {
      display: none;
    }
  }
}

.headerCenter {
  position: absolute;
  top: 0;
  height: 34px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerRight {
  .items {
    position: absolute;
    top: 36px;
    right: 36px;
    font-family: MontserratAlt;
    height: 34px;
    width: 400px;

    .nav {
      user-select: none;
      margin-right: 10px;
      &:hover {
        cursor: pointer;
        border-bottom: solid var(--theme-border-color) 1px;
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 6;
    display: flex;
  }

  .ham {
    display: none;
  }

  @media #{$lg-layout} {
    .items {
      flex-wrap: wrap;
      width: 360px;
      div {
        margin-bottom: 10px;
      }
    }
  }

  @media #{$md-layout} {
    .items {
      flex-wrap: wrap;
      width: 240px;
      div {
        margin-bottom: 20px;
        margin-right: 10px;
      }
    }
  }

  @media #{$sm-layout} {
    .items {
      flex-wrap: wrap;
      width: 150px;
      div {
        margin-bottom: 20px;
      }
    }
  }

  @media #{$xsm-layout} {
    .items {
      display: none;
    }

    position: absolute;
    top: 36px;
    right: 36px;
    font-family: MontserratAlt;
    height: 34px;
    width: 380px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .ham {
      display: block;
      z-index: 6;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
