@mixin light {
  background: $color-frost;
  color: $color-black;
  border-color: $color-black;
  $theme-color-light: red;

  --theme-bg-color: #dadada;
  --theme-border-color: rgb(49, 49, 49);
  --theme-color-dark: rgb(49, 49, 49);
  --theme-footer-bg: $color-frost;

  a {
    color: $theme-color-3;
    &:hover {
      color: $color-4;
    }
  }
}

@mixin dark {
  background: $color-charcoal;
  color: $color-white;
  border-color: $color-white;
  $theme-color-dark: blue;

  --theme-bg-color: #252525;
  --theme-color-dark: #e2e2e2;
  --theme-border-color: #e2e2e2;
  --theme-footer-bg: $color-charcoal;

  $theme-color-dark-hover: #2bff00;
  --theme-color-dark-hover: #8956e2;

  a {
    color: $color-2;
    &:hover {
      color: $theme-color-dark-hover;
    }
  }
}

.light {
  @include light;
}

.dark {
  @include dark;
}
