@import 'scss/default/variables';
@import 'scss/default/themes';

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;

  .absoluteTheme {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .screen {
    width: 100vw;
    height: 100vh;

    scroll-snap-align: center;
    scroll-snap-stop: always;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px red solid;
  }
}
